* {
    box-sizing: border-box;
}
:root {
    --blue: rgb(154, 203, 246);
    --white: #ffffff;
    --purple: rgba(219, 124, 226, 0.6);
}

body {
    background-color: rgb(245, 240, 234);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* header with name and nav links*/
header {
    color: var(--white);
    background-color: var(--blue);
    width: 100%;
}

/*name*/
h1 {
    display: inline-flex;
    font-size: 50px;
    margin-left: 20px;
}

/* About Me, My Work, Contact Me links positioning*/
header nav {
    float: right;
    padding-top: 35px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 25px
}

/* link list display*/
header nav ul li {
    list-style-type: none;
    display: inline-flex;
    flex-wrap: wrap;
    padding: 10px;
}

/*link styling*/
nav a {
    color: var(--white);
    font-size: 20px;
    text-decoration: none;
}

/*profile pic and text block*/
.subheader {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    background-image: linear-gradient(to bottom right,var(--blue),var(--purple));
    background-size: cover;
}

#profile-pic {
    /*max-width: 100%;
    height: auto;*/
    padding: 15px;
    margin-left: 10px;
}

/*profile pic text box positioning*/
#header-caption {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: var(--blue);
    color: var(--white);
    padding-right: 10px;
}

/*profile pic text block text styling*/
.subheader p {
    color: var(--white);
    font-size: 20px;
    padding: 5px 10px;
}


#about-me {
    display: inline-flex;
    align-items: flex-start;
    padding: 50px;
}

h2 {
    color: var(--purple);
    font-size: 45px;
    padding: 25px;
}

/*vertical line between h2 and p*/
.about-me-vl {
    border-left: 6px solid var(--purple);
    height: 300px;
}

p {
    color: var(--purple);
    padding: 20px;
    margin-left: 30px;
    margin-bottom: 10px;
}

#my-work {
    display: flex;
    align-items:flex-start;
    padding: 50px 50px 0px 50px;
    flex-direction: row;
    flex-wrap: wrap;
    /*padding: 50px;*/
}

.my-work-vl {
    border-left: 6px solid var(--purple);
    height: 1000px;
    margin-left: 15px;
}

.first-app {
    display: flex;
    margin-left: 200px;
}

.first-app img {
    margin-left:45px ;
    max-width: 700px;
}

.apps {
    display: flex;
    justify-content: center;
    margin-left: 300px;
    margin-bottom: 30px;
    padding: 50 50px;
}
   

.apps img {
    max-width: 400px;
    max-height: 400px;
}

.first-app {
    position: relative;
}

.apps {
    position: relative;
}

/*Screenshot text boxes*/
.text-block {
        position: absolute;
        bottom: 10px;
        right: 10px;
        background-color: var(--blue);
        color: var(--white);
        padding-left: 10px;
        padding-right: 10px;
}

/*Screenshot caption titles in text box*/
h3 {
    font-size: 20px;
    margin: 5px 0 5px;
    text-align: center;
}

.first-app p {
    font-size: 15px;
    margin: -10px 5px 0px 5px;
    text-align: right;
}

.apps p {
    font-size: 15px;
    margin: -10px 5px 0px 5px;
    text-align: right;
}
